<div class="row">
    <h1>Subrscribers</h1>
    <hr>
     <table class="table table-striped">
        <thead>
            <tr>
                <th>Name</th>
                <th>Email</th>
                <th>Edit</th>
                <th>Delete</th>
            </tr>
        </thead>
        <tbody>
            <% subscribers.forEach(subscriber => { %>
                <tr>
                    <td>
                        <a href="<%= `/subscribers/${subscriber._id}` %>">
                            <%= subscriber.name %>
                        </a>
                    </td>
                    <td><%= subscriber.email %></td>
                    <td>
                        <a href="<%= `/subscribers/${subscriber._id}/edit` %>">
                            <button>Edit</button>
                        </a>
                    </td>
                    <td>
                        <a href="<%= `/subrscribers/${subscriber._id}/delete?_method=DELETE` %>">
                            <button>Delete</button>
                        </a>
                    </td>
                </tr>
            <% }); %>
        </tbody>
    </table>
</div>

